@use 'global' as *;
@use "sass:math";

.archive {
  margin-top: rem(24);
}

.archive li {

}

.archive__years {
  font-size: rem(24);
  color: $green;
}

.archive__year {
  margin-top: rem(4);
}

.archive__link {
  /* アイコン用 */
  color: $green;
  display: block;
  // padding: rem(10);
  transition: all 0.5s 0s ease;
}

.archive__link:hover {
  opacity: 0.4;
}

/* 開閉するトグルマーク */
.archive__toggle{
  position: relative;
  padding-left: rem(24 + 6);
}
.archive__toggle::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: rem(24);
  height: rem(24);
  top: 50%;
  transform: translateY(-50%);
  left: rem(0);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  background: url(../images/common/icon-triangle-right.png);
}

/* 開閉するトグルマークに「is-open」付与時 */
.archive__link.is-open .archive__toggle::before {
  background: url(../images/common/icon-triangle-down.png);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* 月部分、通常は非表示 */
.archive__months {
  display: none;
}
/* 月部分を開く */
/* 「archive-link」に「is-open」、
「archive__months」に「is-open」 */
.archive__months.is-open {
  display: block; 
}

.archive__month {
  margin-left: rem(24);
  margin-top: rem(4);
}
