@use 'global' as *;

/* カード（flex使用） */
// .sample1__inner {
//   width: 100%;
//   margin: auto;

//   @include mq(md) {
//     max-width: rem(1100);
//   }
// }

/* 3枚横並びのブロック */
// .card-list1 {
//   @include mq(md) {
//     display: flex;
//     /* ２列目増設可能性への対応 */
//     flex-wrap: wrap;
//     /* gap使用時は.card-list__itemのmarginのleft、top不要 */
//     gap: rem(25);
//   }
// }

/* 25pxの余白で、3枚横並び */
// .card-list1__item {
//   /* gap使用でも書き方は同じ */
//   max-width: calc(33.3333% - rem(25) * 2 / 3);
//   width: 100%;
// }

// .card-list1__item+.card-list1__item {
//   /* gap使用時は.card-listのみで指定するので不要 */
//   margin-left: rem(25);
// }

// /* ２列目増設可能性への対応（gap使用時は不要） */
// .card-list1__item:nth-child(3n + 1) {
//   margin-left: 0;
// }

// /* ２列目増設可能性への対応（gap使用時は不要） */
// .card-list1__item:nth-child(n + 4) {
//   margin-top: rem(25);
// }


/* ---------
１枚のカード（.blog-cardより）
--------- */
.blog-card {
  background-color: $white;

  /* 要素がインラインなのでblock要素に。 */
  // display: block;
  /* フッター（カテゴリ＆日付）を底辺固定のためblockではなくflexに
  これで、margin-topが有効となる。理由は不明 */
  // display: flex;
  display: inline-block;
  // flex-direction: column;
  // border: solid 1px $black0;
  /* ピクパ優先、bottomを24→23→20 */
  padding: rem(16) rem(16) rem(21);

  // width: 100%;

  /* ぼかし */
  /* https: //hiroyuki-n.github.io/boxShadow_generator/ */
  box-shadow: 0px 0px 15px -5px #777777;

  @include mq(md) {
    // max-width: calc(33.3333% - rem(25) * 2 / 3);
  }
}

.blog-card:hover {
  opacity: 0.7;
}

/* 比率管理した画像 */
.blog-card__img {
  /* 201/301=66.777408% */
  padding-top: 66.777408%;
  position: relative;
}
.blog-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__body {
  /* ピクパ優先 */
  margin-top: rem(24 - 4);
  
  @include mq(md) {
    /* ピクパ優先 */
    margin-top: rem(20);
  }
}

.blog-card__body time {
  color: $black1;
  font-size: rem(12);
  line-height: 1.5;
}

.blog-card__title {
  /* 24/16=1.5 */
  line-height: 1.5;
 
  padding-bottom: rem(1);

  color: $black1;
  border-bottom: solid 1px $green;

  @include mq(md) {
    /* ピクパで合わせる */
    padding-bottom: 0;
  }
}

.blog-card__content {
  color: #000;
  /* ピクパ優先16→18 */
  margin-top: rem(18);
}




// .introduction-card__info {
//   padding: 0 0 rem(15);

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// /* フッター部分を底辺に固定 */
// .introduction-card__info--test {
//   margin-top: auto;
// }

// .introduction-card__category {
//   background-color: yellow;
//   /* 改行ないので */
//   line-height: 1;
//   padding: rem(6) rem(5);
// }

// .introduction-card__date {}