@use 'global' as *;

/* ボタン（moreボタン、アニメーション） */

/* ------------
親
------------ */
// .button {
//   position: relative;
//   /* 作りたいボタンサイズ */
//   width: rem(202);
//   height: rem(54);

//   margin-left: auto;
//   margin-right: auto;
// }


/* ==================
リンクボタン（スライドアニメーション）
=================== */
/* ボタン基本コード */
// .button__link {
//   cursor: pointer;
//   transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
//   background: $white;
//   border: 1px solid $green;
//   color: $green;
//   display: inline-block;
//   font-weight: $normal;
//   font-family: $english-font-family;

//   width: 100%;

//   padding: rem(19) rem(88) rem(19) rem(40);
//   line-height: 1;
//   font-size: rem(14);
//   text-align: center;

//   /* 勝手な改行を防止した */
//   white-space: nowrap;
// }

// .button__link.slide {
//   background: $green;
//   color: $white;
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
//   /* ピクパ優先で調整追加 */
//   left: rem(-2);
// }
// /* 右側の矢印（通常時） */
// .button__link.slide::before {
//   position: absolute;
//   content: '';
//   background-image: url(../images/common/arrowRight-white.png);
//   width: rem(40);
//   /* ピクパ対応6→7 */
//   height: rem(7);
//   top: 50%;
//   transform: translateY(-50%);
//   right: rem(40);
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .button__link.slide::after {
//   background: $white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: '';
//   width: 100%;
//   height: 100%;
//   transform: scale(0, 1);
//   transform-origin: left top;
//   transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
//   z-index: -1;
// }


// /* hover時 */
// .button__link.slide:hover {
//   color: $green;
// }
// /* 右側の矢印 */
// .button__link.slide:hover::before {
//   position: absolute;
//   content: '';
//   background-image: url(../images/common/arrowRight-green.png);
//   width: rem(40);
//   height: rem(7);

//   top: 50%;
//   transform: translateY(-50%);
//   right: rem(40);
//   background-repeat: no-repeat;
//   background-size: contain;
// }
// .button__link.slide:hover::after {
//   transform: scale(1, 1);
// }




// /* ------------
// 背景のボタン（後ろのチラ見せ）
// ------------ */
// .button__back {
//   position: absolute;
//   top: rem(4);
//   /* ピクパ優先で-2調整 */
//   left: rem(4 - 2);

//   /* ボタンの基本形をコピペ */
//   border: 1px solid $green;
//   display: block;
//   max-width: 300px;

//   /* 親の幅、高さいっぱいに */
//   width: 100%;
//   height: 100%;
// }

    /* ============
    コロスケさん参照、矢印は画像で
    ==============*/  
    .button-wrap {
      padding-bottom: rem(4);
    }
  
    .button {
      align-items: center;
      // background-color: #408F95;
      background-color: $green;
      // border: 1px solid #408F95;
      border: rem(1) solid $green;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "Gotu", sans-serif;
      font-size: rem(14);
      // gap: 0.375rem;
      // justify-content: center;
      max-width: rem(202);
      padding: rem(16) rem(40);
      position: relative;
      // transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
      width: 100%;
      z-index: 2;
    }
  
    /* 背景の箱 */
    .button::before {
      border: rem(1) solid $green;
      content: "";
      height: 100%;
      left: rem(5);
      position: absolute;
      top: rem(5);
      width: 100%;
      z-index: -2;
    }
  
    /* 矢印 */
    .button span {
      display: inline-block;
      padding-bottom: rem(5);
    }
  
    .button span::before {
      background-image: url(../images/common/arrowRight-white.png);
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: rem(7);
      position: absolute;
      right: rem(40);
      top: 50%;
      transform: translateY(-50%);
      width: rem(40);
    }
  
    .button:hover span::before {
      background-image: url(../images/common/arrowRight-green.png);
      background-repeat: no-repeat;
      // background-size: contain;
      background-size: cover;
      content: "";
      height: rem(7);
      position: absolute;
      right: rem(40);
      top: 50%;
      transform: translateY(-50%);
      width: rem(40);
    }
  
    /* スライドアニメーション*/
    .button:hover::after {
      transform: scale(1, 1);
    }
  
    .button::after {
      background-color: #fff;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
      width: 100%;
      z-index: -1;
    }
  
    .button:hover,
    .button:hover span::after {
      color: $green;
    }

