@use 'global' as *;

/* ボタン（前へ後へ） */


.button-circle {
  position: relative;
  width: rem(48);
  height: rem(48);
  border: solid rem(1) $green;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

.button-circle:hover {
  opacity: 0.4;
}

/* 左 */
.button-circle__previous::after {
  position: absolute;
  content: '';
  background-image: url(../images/common/arrowLeft-green.png);

  /* 83×15→40とpadding-top15/83=18.0722891% */
  width: rem(40);
  height: rem(6);
  // padding-top: 18.0722891%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

/* 右 */
.button-circle__next::after {
  position: absolute;
  content: '';
  background-image: url(../images/common/arrowRight-green.png);
  width: rem(40);
  height: rem(6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
}

/* 上 */
.button-circle__top::after {
  position: absolute;
  content: '';
  background-image: url(../images/common/arrowTop-green.png);
  width: rem(6);
  height: rem(28);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  
  @include mq(md) {
    height: rem(40);
  }
}
