@use 'global' as *;

/* p-カードパック */

/* 画像の比率管理① まずはrelative */
.card__img--information {
  position: relative;
}

/* 画像の比率管理② 擬似要素を作る */
.card__img--information::before {
  content: "";
  /* 擬似要素のinline要素のままだと高さ取れない */
  display: block;

  /* 幅345、高さ227、227÷345 */
  padding-top: 65.797101%;

  @include mq(md) {
    /* 540、356=65.925925925% */
    @include mq(md) {
      padding-top: 65.925925925%;
    }
  }

}

/* 画像の比率管理③ ②で作った箱に画像を入れる
画像の比率が違う時にもはみ出さない */
.card__img--information img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}