@use 'global' as *;

.l-d-about-gallery {
  /* ピクパ優先 */
  margin-top: rem(70);

  @include mq(md) {
    margin-top: rem(140);

  }
}

.d-about-gallery {
  // background-color: #DDF0F1;
  padding-top: rem(80);
  /* ピクパ優先80→84 */
  padding-bottom: rem(80 + 4);

  @include mq(md) {
    padding-top: rem(0);
    padding-bottom: rem(0);
  }
}

.d-about-gallery__inner {
  @include mq(md) {
    position: relative;
  }
}

/* あしらい */
.d-about-gallery__inner::before {
  @include mq(md) {
    position: absolute;

    content: '';
    display: inline-block;

    top: rem(-80);
    // right: rem(-97);
    /* ピクパに合わせて650→635へ */
    // right: calc(50% - min(50vw, 635px));
    right: calc(50% - min(48vw, rem(635)));
    width: rem(301);
    height: rem(138);

    background-image: url(./images/common/illustration5.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
    // overflow: hidden;
  }
}

.d-about-gallery__title {

}

.d-about-gallery__wrap {

}