@use 'global' as *;
@use "sass:math";

.d-contact {
  margin-top: rem(52);

  @include mq(md) {
    margin-top: rem(150);
  }}

/* あしらい用（前） */
.d-contact__background-fishes {
  position: relative;
}

.d-contact__background-fishes::before {
  position: absolute;
    content: '';
    display: inline-block;
    background-image: url(../images/common/illustration3.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
  
    width: rem(120);
    height: rem(55);
    top: rem(-24);
    // left: calc(50% - min(48vw, rem(0)));
    left: calc(50% - min(48vw, rem(620)));
  
    @include mq(md) {
      top: rem(-70);
  
      /* テキストフィードバック */
      /* ピクパ参考に80→50→56に */
      // left: rem(-56);
      /* キャンバス幅1440の半分720 - 左端から100 = 620 */
      left: calc(50% - min(48vw, rem(620)));
  
      /* 幅437、高さ201 */
      width: rem(301);
      height: rem(138);
  
    }
}
.d-contact__inner {

  // width: 100%;
  width: rem(700);
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  /* テキストフィードバック（767px以下の中途半端なサイズ用に） */
  max-width: rem(600);

  @include mq("md") {
    max-width: rem(700 + 25 * 2);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.d-faq__wrap {

}


/* 基本の質問項目と回答 */
.d-contact dl {
  border-bottom: dashed rem(1) $green;

  @include mq(md) {
    display: flex;
  }
}

.d-contact dl:first-of-type {
  padding-bottom: rem(24);

  @include mq(md) {
    padding-bottom: rem(40);
  }
}

.d-contact dl:not(:first-of-type) {
  padding: rem(24) 0;

  @include mq(md) {
    padding: rem(40) 0;
  }
}

.d-contact dt {
  font-weight: bold;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: math.div(21, 16);

  @include mq(md) {
    width: math.div(220, 700) * 100%;
  }
}

/* 必須 */
.d-contact dt::after {
  position: absolute;
  content: '必須';
  font-size: rem(12);
  font-weight: 400;
  letter-spacing: 0.4em;
  margin-left: rem(8);
  line-height: math.div(16, 12);
  padding: rem(2.5) rem(10) rem(2.5) rem(16);
  background-color: #C94800;
  color: #fff;
  display: inline-block;
}

.d-contact dd {
  width: 100%;
  margin-top: rem(16);

  @include mq(md) {
    width: math.div(480, 700) * 100%;
    margin-top: 0;
  }
}