@use 'global' as *;
@use "sass:math";

.d-information {
  margin-top: rem(121);
  
  @include mq(md) {
    margin-top: rem(150);
  }
}

/* あしらい用（前） */
.d-information__background-fishes {
  position: relative;
}
.d-information__background-fishes::before {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: rem(-70);

    /* テキストフィードバック */
    /* ピクパ参考に80→50→56に */
    // left: rem(-56);
    /* キャンバス幅1440の半分720 - 左端から100 = 620 */
    left: calc(50% - min(48vw, rem(620)));

    /* 幅437、高さ201 */
    width: rem(301);
    height: rem(138);

    background-image: url(../images/common/illustration3.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;

    z-index: -1;
  }
}

.d-information__inner {

}

.d-information__navi {

}

.d-information__navi-inner {

}

.d-information__navi-genre {

}


/* カードの集まり */
.d-information__cards {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(24);
  }

}

.d-information-card {

}

.d-contact {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(140);
    // margin-bottom: rem(160);
  }
}