@use 'global' as *;
@use "sass:math";

.d-voice {
  margin-top: rem(52);
  
  @include mq(md) {
    margin-top: rem(150);
  }
}

/* あしらい用（前） */
.d-voice__background-fishes {
  position: relative;
}
.d-voice__background-fishes::before {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: rem(-70);

    /* テキストフィードバック */
    /* ピクパ参考に80→50→56に */
    // left: rem(-56);
    /* キャンバス幅1440の半分720 - 左端から100 = 620 */
    left: calc(50% - min(48vw, rem(620)));

    /* 幅437、高さ201 */
    width: rem(301);
    height: rem(138);

    background-image: url(../images/common/illustration3.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
  }
}

.d-voice__inner {

}

.d-voice__navi {

}

.d-voice__navi-inner {

}

.d-voice__navi-genre {

}

/* ページナビ */
.d-voice__page {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(70);
  }
}

.d-voice__page-inner {

}

// .d-voice__page-nav {

// }

/* カード群 */
.d-voice__items {
  margin-top: rem(43);
}

/* 1枚のカード全体 */
.d-voice__item {
  // width: 100%;

  @include mq(md) {
    // max-width: calc(50% - rem(40) * 1 / 2);

  }
}