@use 'global' as *;
@use "sass:math";

/* 出典：ヒロキさんの「formコーディングのパッケージ」 */
/* https: //upsdelight.notion.site/Form-a628397c5cba46e8b0a9f99ad1e3962a */

/* ------------
デフォルト色の指定
-------------*/
$border-cr-default: $green; //デフォルト時のボーダーの色
$border-cr: #391E88; // inputのhover or focus時の色
$back-cr: #fff; //input（テキスト系）の背景色

/* ------------
エラー色の指定
-------------*/
$border-cr-error: #C94800; //エラー時のボーダーの色
$back-cr-back-error: rgba(201, 72, 0, 0.2); //エラー時input（テキスト系）の背景色

/* ------------
サイズ等の指定
------------- */
$fz: rem(16); //入力するときのfont-size
$padding-und: rem(7); //paddingの指定（上下） inputの内側の余白で使う
$padding-lnr: rem(8); //paddingの指定（左右） inputの内側の余白で使う
$border-r: rem(0); //border-radius（テキスト系）

/* ------------
ボタン系の指定
-------------*/
$fz-btn: rem(14); //送信ボタンのfont-size
$back-cr-btn: $green; //ボタンの背景色
$font-cr-btn: white; //ボタンのフォントカラー
$padding-und-btn: rem(16); //paddingの指定（上下） btnの内側の余白で使う
$padding-lnr-btn: rem(56); //paddingの指定（左右） btnの内側の余白で使う
$border-r-btn: rem(0); // border-radius

/* ------------
チェックボックスの指定
-------------*/
$check-fz: rem(16); //フォントサイズ
$check-size: rem(14); //外枠の幅高さ
$check-size-concent: rem(22); //外枠の幅高さ
$check-bg-cr: #fff; //外枠の背景色
$check-border-cr: $green; //外枠の色
$check-bg-cr-inner: #f00; //チェックマークの背景色
$check-space: rem(8); //チェックマークと文字の距離
$check-space-betweenRadio: rem(20); //ラジオボタンの間の距離？
$check-weight: 1px; //チェックマークの線の太さ(px)

/* ------------
テキストエリアの指定
------------- */
$textarea-height: rem(200);

/* ------------
各種要素
------------- */
[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
textarea {
  /*↓リセットCSS */
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: inherit;

  /*↓カスタム */
  // margin-top: rem(10);
  font-size: $fz;
  padding: $padding-und $padding-lnr;
  width: 100%;
  // max-width: rem(300);
  background: $back-cr;
  border: 1px solid $border-cr-default;
  border-radius: $border-r;

  /*↓↓↓↓不要ならコメントアウト or 削除 */
  // &:hover {  //ホバーしたときの色
  // 	border: 1px solid $border-cr;
  // }
  /*↓↓選択されているときの色*/
  &:focus {
    border: 1px solid $border-cr;
  }
}

/*  ------------
tel
------------- */
[type="tel"] {
  // max-width: rem(200);
  width: 100%;
}

/* ------------
ボタン
------------- */
button,
[type="button"],
[type="submit"] {
  /*↓リセットCSS */
  margin: 0;
  background-image: none;
  width: auto;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0;

  /*↓カスタム */
  padding: $padding-und-btn $padding-lnr-btn;
  background: $back-cr-btn;
  color: $font-cr-btn;
  font-size: $fz-btn;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: $border-r-btn;
  line-height: 1;
}



/* ------------
チェックボックス
------------- */
[type="checkbox"] {
  display: none;

  +span {
    // display: inline-block;
    display: block;
    position: relative;
    padding: 0 0 0 calc($check-size + $check-space);
    margin: rem(4) $check-space-betweenRadio 0 0;
    font-size: $check-fz;
    line-height: math.div(23, 16);
    cursor: pointer;
    transition: 0.3s ease;

    &::before {
      position: absolute;
      content: "";
      top: rem(5);
      left: 0;

      background: $check-bg-cr;
      border: 1px solid $check-border-cr;
      width: $check-size;
      height: $check-size;
      display: block;

      @include mq(md) {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &::after {
      opacity: 0;
      transition: 0.3s ease;
    }
  }

  &:checked+span {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      opacity: 1;
      /*チェックマークじゃない場合は以下を変更する*/
      transform: translateY(-50%) rotate(-45deg);
      width: calc($check-size * 0.9);
      height: calc($check-size * 0.5);
      margin-top: -0.1em;
      margin-left: 0.1em;
      border-left: $check-weight solid $check-bg-cr-inner;
      border-bottom: $check-weight solid $check-bg-cr-inner;

    }
  }
}



/* ------------
セレクト
------------- */
select {

  /*↓リセットCSS */
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  font-size: rem(12);
  line-height: 1;
  border: none;
  cursor: pointer;
  width: 100%;

  /*↓カスタム */
  margin-top: rem(0);
  padding: rem(13) $padding-lnr;
  background-color: $back-cr;
  border: 1px solid $border-cr-default;
  border-radius: $border-r;
  /*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
  // appearance: auto;
  /* 画像を入れる */
  /* デフォルトの矢印を無効 */
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/common/icon-form-arrow.png);
  background-position: right rem(9) center;
  background-repeat: no-repeat;
  background-size: 12px 12px;

  &:focus {
    border: 1px solid $border-cr;
  }

  @include mq(md) {
    padding-top: rem(8);
    padding-bottom: rem(8);
  }
}


/* ------------
テキストエリア
------------- */
textarea {
  height: $textarea-height;
  width: 100%;
  max-width: rem(600);
}



.form__name {}

.form__address {}

.form__telephone {}

.form__check [checkbox] {
  // font-size: rem(14);
  // line-height: math.div(22, 14);

}

.form__check label:first-of-type {}

.form__select {}

.form__text {}

.form__concent {
  margin-top: rem(40);


  @include mq(md) {
    margin-top: rem(80);
    text-align: center;
  }
}

.form__concent span {}

.form__concent [type="checkbox"] + span {
  padding: 0 0 0 calc($check-size-concent + $check-space);
  font-size: rem(14);
  margin-left: auto;
  margin-right: auto;
  width: rem(282);

  @include mq(md) {
    width: 100%;
    display: inline;
  }
}


/* ------------
チェックボックスの箱
------------- */
.form__concent [type="checkbox"] + span::before {

  // position: absolute;
  // content: "";
  top: 0;
  // left: 0;

  // background: $check-bg-cr;
  // border: 1px solid $check-border-cr;
  width: $check-size-concent;
  height: $check-size-concent;
  // display: block;

  @include mq(md) {
    top: 50%;
    transform: translateY(-50%);
  }
}

// .form__concent [type="checkbox"] span::after {
//   opacity: 0;
//   transition: 0.3s ease;
// }

.form__concent [type="checkbox"]:checked + span:after {
    // content: "";
    // position: absolute;
    // top: 5022
    // left: 0;
    // display: block;
    // opacity: 1;
    // /*チェックマークじゃない場合は以下を変更する*/
    // transform: translateY(-50%) rotate(-45deg);
    width: calc($check-size-concent * 0.9);
    height: calc($check-size-concent * 0.5);
    margin-top: -0.8em;
    // margin-left: 0.1em;
    // border-left: $check-weight solid $check-bg-cr-inner;
    // border-bottom: $check-weight solid $check-bg-cr-inner;

    @include mq(md) {
      margin-top: -0.2em;;
    }
}



/* ボタン */
.form__button {
  margin-top: rem(40);
  text-align: center;
}


.contact-error {
  [type="text"],
  [type="search"],
  [type="tel"],
  [type="url"],
  [type="email"],
  [type="password"],
  [type="date"],
  textarea {

    background: $back-cr-back-error;
    border: 1px solid $border-cr-error;

    // &:focus {
    //   border: 1px solid $border-cr;
    // }

  }
}
