@use 'global' as *;

.l-blog {

}

.p-blog {
  padding-top: rem(80);

  @include mq(md) {
    padding-top: rem(100);
    /* 背景つけるのに、p-voiceに背景つけるとサイズ指定ができないので、
    別要素につける。その時の位置指定のためにrelative */
    position: relative;
  }
}

/* 背景画像 */
.p-blog__background {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    /* 幅1440、高さ500 */
    height: rem(500);
    width: 100%;
    
    background-image: url(../images/common/sec4-blog-background-pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
  }
}

/* あしらい用 */
.p-blog__background-fishes {
  position: relative;
}
.p-blog__background-fishes::before {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: rem(24);

    /* ピクパ参考に80→54に調整 */
    // left: rem(-54);
    /* ---
    テキストフィードバック
    キャンバス幅1440の半分＝720
    キャンバス左端から100なので、720-100=620、かな？
    ----*/
    left: calc(50% - min(48vw, rem(620)));


    /* 幅437、高さ201 */
    width: rem(437);
    height: rem(201);

    background-image: url(../images/common/illustration2.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
    overflow: hidden;
  }
}

.p-blog__title {
  /* これがないと、背景画像がabsoluteなので下にいってしまう */
  position: relative;

  @include mq(md) {
    color: $white;
  }
}

.p-blog__title .p-section-title__japanese {
  @include mq(md) {
    color: $white;
  }
}

.p-blog__inner {
  
  // padding-top: rem(27);

  /* paddingを21にするため、.innerを外しているので。 */
  padding-left: rem(21);
  padding-right: rem(21);


  @include mq(md) {

    // padding-top: rem(80);
    /* これがないと、背景画像がabsoluteなので下にいってしまう */
    position: relative;
  }
}

.p-blog__items {
  // display: flex;
  display: grid;
  gap: rem(40);
  // flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(27);

    @include mq(md) {
      // flex-direction: row;
      grid-template-columns: repeat(3, 1fr);
      margin-top: rem(80);
    }
}

.p-blog__item {
  
}


.p-blog__button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}
