@use 'global' as *;

/* ボタン（moreボタン、アニメーション） */

/* ------------
親
------------ */
.p-button {
  position: relative;
  /* 作りたいボタンサイズ */
  width: rem(202);
  height: rem(54);

  margin-left: auto;
  margin-right: auto;
}


/* ==================
リンクボタン（スライドアニメーション）
=================== */
/* ボタン基本コード */
.p-button__link {
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  background: $white;
  border: 1px solid $green;
  color: $green;
  display: inline-block;
  font-weight: $normal;

  width: 100%;

  // padding: 15px 40px;
  padding: rem(19) rem(88) rem(19) rem(40);
  line-height: 1;
  font-size: rem(14);
  text-align: center;

  /* 勝手な改行を防止した */
  white-space: nowrap;
}

.p-button__link.slide {
  background: $green;
  color: $white;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* ピクパ優先で調整追加 */
  left: rem(-2);
}
/* 右側の矢印（通常時） */
.p-button__link.slide::before {
  position: absolute;
  content: '';
  background-image: url(../images/common/arrowRight-white.png);
  width: rem(40);
  /* ピクパ対応6→7 */
  height: rem(7);
  top: 50%;
  transform: translateY(-50%);
  right: rem(40);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-button__link.slide::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}


/* hover時 */
.p-button__link.slide:hover {
  color: $green;
}
/* 右側の矢印 */
.p-button__link.slide:hover::before {
  position: absolute;
  content: '';
  background-image: url(../images/common/arrowRight-green.png);
  width: rem(40);
  height: rem(6);
  top: 50%;
  transform: translateY(-50%);
  right: rem(40);
  background-repeat: no-repeat;
  background-size: contain;
}
.p-button__link.slide:hover::after {
  transform: scale(1, 1);
}




/* ------------
背景のボタン（後ろのチラ見せ）
------------ */
.p-button__back {
  position: absolute;
  top: rem(4);
  /* ピクパ優先で-2調整 */
  left: rem(4 - 2);

  /* ボタンの基本形をコピペ */
  border: 1px solid $green;
  display: block;
  max-width: 300px;

  /* 親の幅、高さいっぱいに */
  width: 100%;
  height: 100%;
}


