@use 'global' as *;

.l-campaign {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.p-campaign {

  /* テキストフィードバック */
  /* スワイパー部分の右はみ出しによって横スクロールするのを回避 */
  overflow: hidden;
}

.p-campaign__wrap {
  position: relative;
}

.p-campaign__title {

}

.p-campaign__title .p-section-title__japanese {
  margin-top: rem(6);
}

.p-campaign__circle-buttons {
  display: none;
  
  @include mq(md) {
    display: flex;
    gap: rem(80);

    position: absolute;
    width: rem(240);
    height: rem(80);
    top: 0;
    /* 円は擬似要素だから、矢印以外飛び出してしまう？？ */
    right: rem(24);
  }
}

/* 位置調整のために、検証ツール確認しながらswiperのデフォルトcss打ち消した */
.p-campaign__circle-button {
  margin-top: 0;
  top: 0;
  left: 0;
}

.p-campaign__card {
  margin-top: rem(26);
  /* flexは不要。カード間の左右余白はjsの「spaceBetween」で */

  /* padding設定を無視？して右だけ幅を画面いっぱいにしたい */
  // width: 100vw;
  // margin-left: calc(50% - 50vw);
  
  @include mq(md) {

      margin-top: rem(40);
    }
}

.p-campaign__card-link {
  height: 100%;

}

.p-campaign__button {
  /* ピクパ対応 */
  margin-top: rem(40 - 4);

  @include mq(md) {
    margin-top: rem(80 - 5);
  }
}