@use 'global' as *;

.swiper {
  // width: 100%;
  // height: 100%;

}

/* テキストフィードバック：jsを接頭辞に付与するのは、js使用に限定する */
// .js-campaign__swiper {
.p-campaign__card-swiper {

  /* 右側だけはみ出す場合の幅を計算（スライダーのはみ出している部分） */
  /* by https: //wp-thema-nishiki.pro/how-to-create-a-slider-with-margins-in-swiper/ */
    // width: calc(100% + (100vw - $inner) / 2);
  width: calc(100% + (100vw - 100%) / 2);
  // overflow: hidden;
  z-index: 2;
  /* ぼかしの見切れ防止 */
  padding-bottom: rem(5);
  // padding-left: rem(5);
  
}

.p-campaign__card-swiper .swiper-slide {
  /* 「slidesPerView:2」とかではなく、
  widthとheight、jsの「slidesPerView: "auto"」で表示枚数を決定 */
  width: rem(280);
  // height: rem(366);
  // height: 100%;

  /* テキストフィードバック */
  height: auto;

  @include mq(md) {
    width: rem(334);
    // height: rem(445);
  }

}

// .js-campaign-next,
// .js-campaign-prev {
//   @include mq(md) {

//   }
// }



// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }


/* 検証ツールでページネーション部分を選択状態にして、出てきたクラス名をコピペ */
// .swiper-horizontal>.swiper-pagination-bullets,
// .swiper-pagination-bullets.swiper-pagination-horizontal,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
//   bottom: rem(-25);
//   text-align: right;
// }

/* 検証ツールで、色を修正するクラスを選択、コピー */
// .swiper-pagination-bullet-active {
//   background: #391E88;
// }