@use 'global' as *;

/* アニメーション：該当箇所（information、voice、price） */
/* 該当画像のクラスに「.colorbox」付与、jquery使用 */

.colorbox {
  position: relative;
  // width: 80%;
  // margin: 30px auto 30px;
}

.colorbox .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  // background-color: #10404c;
  background-color: #408F95;
}

.colorbox img {
  display: block;
  width: 100%;
}