@use 'global' as *;


.p-footer {
  background-color: $green;
  width: 100%;

  // @include mq(md) {

  // }
}

.p-footer__inner {
  /* 擬似要素ヒトデ分の右余白は「」で */
  padding: rem(48) rem(15) 0;
  /* 左右余白を15として（copyrightは別）375-15*2=345だけど、paddingは別計算なので375 */
  max-width: rem(375);
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    /* 1440の場合で隙間（120）含めた総幅1008、
    隙間なしだと648（ブレークポイントは768）なので、
    左右paddingは無視する？？ */

    padding-top: rem(80);
    /* 隙間（120）含めた総幅1008、
    レスポンシブ基準で仮決め左padding15*2を足して1008+15*2=1038 */
    max-width: rem(1038);
  }

}

.p-footer__header {
  @include mq(md) {
    display: flex;
  }
}

.p-footer__logo {
  width: rem(120);
  height: rem(45);
  // z-index: 1000;
  
  @include mq(md) {
    width: rem(200);
    height: rem(75);
    margin-right: rem(40);
  }
}

.p-footer__logo a:hover {
  opacity: 0.4;
}

.p-footer__logoLink {
  position: relative;
  display: block;
  width: 100%;

  @include mq(md) {
  }
}

.p-footer__logoLink::before {
  content: '';
  /* 擬似要素のinline要素のままだと高さ取れない */
  display: block;
  /* PCもSPも比率は同じ。幅200、高さ75、75÷200 */
  padding-top: 37.5%;
}
.p-footer__logoLink img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SNS */
.p-footer__sns-items {
  display: flex;
  /* ピクパ16→14 */
  gap: rem(14);
  margin-top: rem(16);

  @include mq(md) {
    gap: rem(16);
  }
}

.p-footer__sns-item {
  display: block;
  width: rem(26);
  height: rem(26);
  cursor: pointer;
}

.p-footer__sns-item:hover {
  opacity: 0.4;
}

.p-footer__sns-item img {
  width: 100%;
  height: 100%;
}

.p-footer__nav {
  /* 40-「.nav-footer__item a」の12=28 */
  margin-top: rem(40 - 12);

  @include mq(md) {
    /* 24-12=12 */
    margin-top: rem(12);
  }

}

/* コピーライト */
.p-footer__copyright {
  text-align: center;
  padding-bottom: rem(56);
  /* 上余白40-最後の「.nav-footer__item-a」padding12=28
  ピクパ優先28→21 */
  margin-top: rem(21);
  color: $white;
  font-weight: $normal;
  
  @include mq(md) {
    /* 80-12（ナビのpadding分） */
    margin-top: rem(68);
    padding-bottom: rem(80);
  }
}

.p-footer__copyright small {
  font-size: rem(12);
  line-height: 1.5;
  
  @include mq(md) {
    font-size: rem(14);
    /* 18/14=1.28571428571 */
    line-height: 1.28571428571;
  }
}