@use 'global' as *;

/* カード（flex使用） */
// .p-sample1__inner {
//   width: 100%;
//   margin: auto;

//   @include mq(md) {
//     max-width: rem(1100);
//   }
// }

/* 3枚横並びのブロック */
// .p-card-list1 {
//   @include mq(md) {
//     display: flex;
//     /* ２列目増設可能性への対応 */
//     flex-wrap: wrap;
//     /* gap使用時は.p-card-list__itemのmarginのleft、top不要 */
//     gap: rem(25);
//   }
// }

/* 25pxの余白で、3枚横並び */
// .p-card-list1__item {
//   /* gap使用でも書き方は同じ */
//   max-width: calc(33.3333% - rem(25) * 2 / 3);
//   width: 100%;
// }

// .p-card-list1__item+.p-card-list1__item {
//   /* gap使用時は.p-card-listのみで指定するので不要 */
//   margin-left: rem(25);
// }

// /* ２列目増設可能性への対応（gap使用時は不要） */
// .p-card-list1__item:nth-child(3n + 1) {
//   margin-left: 0;
// }

// /* ２列目増設可能性への対応（gap使用時は不要） */
// .p-card-list1__item:nth-child(n + 4) {
//   margin-top: rem(25);
// }


/* ---------
１枚のカード（.p-blog-card）
--------- */
.p-introduction-card {
  background-color: $white;

  /* 要素がインラインなのでblock要素に。 */
  // display: block;
  /* フッター（カテゴリ＆日付）を底辺固定のためblockではなくflexに
  これで、margin-topが有効となる。理由は不明 */
  // display: flex;
  // display: inline-block;
  display: block;
  // flex-direction: column;

  /* ぼかし */
  /* https: //hiroyuki-n.github.io/boxShadow_generator/ */
  box-shadow: 0px 0px 15px -5px #777777;

  width: rem(280);
  /* flexで自動縮小をさせない */
  // flex-shrink: 0;

  @include mq(md) {
    width: rem(333);
  }
}
.p-introduction-card:hover {
  opacity: 0.4;
}
/* 比率管理した画像 */
.p-introduction-card__img {
  position: relative;
  /* 188/280=67.1428571428% */
  padding-top: 67.1428571428%;

  @include mq(md) {
    /* 223/333=66.966967% */
    padding-top: 66.966967%;
    
  }
}
.p-introduction-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-introduction-card__body {
  padding: rem(16) rem(16) rem(24);
  /* 1rem のぼかしで 3rem の広がりの赤っぽい影 */
  /* https: //www.bad-company.jp/drop-shadow */
  
  @include mq(md) {
    /* ピクパtop24→25 */
    padding: rem(24) rem(16) rem(40);
    
  }
}

.p-introduction-card__genre {
  display: inline-block;
  font-size: rem(12);
  /* 22/12=1.833333 */
  // line-height: 1.833333;
  line-height: 1;

  // padding: rem(4) rem(12);
  /* 箱の高さ30、文字12pxなので、余白は9×2。
  line-heightは1にして全てpaddingへ */
  padding: rem(10) rem(11) rem(6);


  border: solid 1px $green;
  color: $green;

  @include mq(md) {
    /* ピクパ縦6→11 */
    padding: rem(11) rem(16);
    
  }
}

.p-introduction-card__name {
  /* 24/16=1.5 */
  line-height: 1.5;
  /* ピクパ優先 */
  margin-top: rem(7);
  font-weight: $normal;
}

.p-introduction-card__text {
  border-top: solid 1px $green;
  /* 24/16=1.5 */
  line-height: 1.5;
  /* ピクパ8→6 */
  margin-top: rem(5);
  padding-top: rem(8);
  text-align: center;
  font-size: rem(14);
  /* 24/14 */
  line-height: 1.7142857;

  @include mq(md) {
    padding-top: rem(16);
    font-size: rem(16);
    /* 24/16=1.5 */
    line-height: 1.5;
  }
}

.p-introduction-card__price {
  display: flex;
  gap: rem(16);
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(6);
  
  @include mq(md) {
    gap: rem(24);
  }
}

.p-introduction-card__price-before,
.p-introduction-card__price-after {
  font-family: 'Lato';
  line-height: 1;
}
.p-introduction-card__price-before {
  position: relative;
  font-size: rem(20);
  
  @include mq(md) {
    font-size: rem(24);
    
  }
}

.p-introduction-card__price-before::after {
  position: absolute;
  content: '';
  width: rem(91);
  height: rem(3);
  top: 50%;
  left: 50%;
  background-color: #C94800;
  transform: translate(-50%, -50%);
}

.p-introduction-card__price-after {
  font-size: rem(32);
  color: $green;
  
  @include mq(md) {
    font-size: rem(40);
    width: rem(149);
    
  }
}




// .p-introduction-card__info {
//   padding: 0 0 rem(15);

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// /* フッター部分を底辺に固定 */
// .p-introduction-card__info--test {
//   margin-top: auto;
// }

// .p-introduction-card__category {
//   background-color: yellow;
//   /* 改行ないので */
//   line-height: 1;
//   padding: rem(6) rem(5);
// }

// .p-introduction-card__date {}