@use 'global' as *;

/* ピクパで追加 */
.p-to-top {
  height: rem(48);

  @include mq(md) {
    height: rem(80);
  }
}

/* 追加 */
#js-pagetop {
  position: fixed;
  /* ピクパ20→16 */
  bottom: rem(16);

  /* ピクパ20→15 */
  right: rem(15);
  
  cursor: pointer;

  @include mq(md) {
    right: rem(20);
    bottom: rem(20);
  }
}

#js-pagetop a {
  // background: #00CC99;
  // color: #fff;
  // padding: 5px 20px;
}

/* ボタンの親要素に指定！ */
body {
  position: relative;
}