@use 'global' as *;

.l-voice {
  /* ピクパ優先80→84 */
  margin-top: rem(80 + 4);

  @include mq(md) {
    /* ボタンの影の下4px分 */
    margin-top: rem(140 + 6);
  }
}

.p-voice {

  @include mq(md) {

  }
}

/* あしらい用（前） */
.p-voice__background-fishes {
  position: relative;
}

.p-voice__background-fishes::before {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: rem(-120);

    /* テキストフィードバック */
    /* ピクパ参考に80→50→56に */
    // left: rem(-56);
    /* キャンバス幅1440の半分720 - 左端から100 = 620 */
    left: calc(50% - min(50vw, rem(620)));

    /* 幅437、高さ201 */
    width: rem(301);
    height: rem(138);

    background-image: url(../images/common/illustration3.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
  }
}

.p-voice__title {

  @include mq(md) {
  }
}

.p-voice__inner {
  /* 修正24→42 */
  padding-top: rem(43);

  @include mq(md) {
    padding-top: rem(30);
    /* これがないと、背景画像がabsoluteなので下にいってしまう */
    position: relative;
  }
}

/* カード群 */
.p-voice__items {
  /* flexからgridに */
  // display: flex;
  display: grid;
  // flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  
  /* 40→41 */
  gap: rem(41);
  
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    // flex-direction: row;
  }

}

/* 1枚のカード全体 */
.p-voice__item {
  // width: 100%;

  @include mq(md) {
    // max-width: calc(50% - rem(40) * 1 / 2);
    
  }
}

.p-voice__button {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

/* あしらい用（後） */
.p-voice__background-fishes-last {
  position: relative;
}
.p-voice__background-fishes-last::after {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: rem(-67);
    right: rem(25);
    /* 幅71、高さ162 */
    width: rem(71);
    height: rem(162);

    background-image: url(../images/common/illustration4.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
    overflow: hidden;
  }
}
