@use 'global' as *;
@use "sass:math";

.popular {
  margin-top: rem(24);
}

.popular__cards {

}

.popular__card {
  width: 100%;
  box-shadow: 0px 0px 15px -5px #777777;
  margin-top: rem(24);
}

.popular__card:hover {
  opacity: 0.4;
}

.popular__inner {
  display: flex;
  padding: rem(16);
}

/* ===================
画像の縦横比維持するカード
=================== */
.popular__image {
  width: math.div(121, 262) * 100%;

  /* 画像の比率管理① まずはrelative */
  position: relative;
}
/* 画像の比率管理② 擬似要素を作る */
.popular__image::before {
  content: "";
  /* 擬似要素のinline要素のままだと高さ取れない */
  display: block;
  /* 幅121、高さ90 */
  padding-top: math.div(90, 121) * 100%;
}
/* 画像の比率管理③ ②で作った箱に画像を入れる
画像の比率が違う時にもはみ出さない */
.popular__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.popular__article {
  width: math.div(125, 262) * 100%;
  margin-left: math.div(16, 262) * 100%;;

}

.popular__article-date {
  font-size: rem(12);
}

.popular__article-title {
  margin-top: rem(4);
}

