@use 'global' as *;
@use "sass:math";

.price-table {
  // display: table-cell;
  table-layout: fixed;

  border-collapse: collapse;
  /* widthだけでは幅指定不能なので力技？ */
  // width: 100%;
  width: rem(570);
  max-width: 100%;

  @include mq(md) {
    display: flex;
    width: rem(700);

  // display: table-cell;
  }
}

.price-table__title {

}

.price-table thead {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;

  /* つけてみたところ（PC版では戻す処理） */
  display: table-caption;
  text-align: -webkit-center;
  

  @include mq(md) {
    width: math.div(200, 700) * 100%;

    /*つけてみたところ（table-caption戻してflexに） */
    display: flex;
  }
}

.price-table__title-th {
  font-weight: 700;
  height: rem(40);
  color: #fff;
  width: 100%;

}



.price-table tbody {
  // width: 100%;
  // flex: 1;

  @include mq(md) {
    width: math.div(500, 700) * 100%;
  }
}

.price-table tbody tr {
  width: 100%;
  @include mq(md) {
    width: 500px;
    max-width: 100%;
  }
}

.price-table td {
  border: solid 1px $green;
}

.price-table__course {
  padding: rem(7) rem(24);
  text-align: center;
  width: math.div(240, 345) * 100%;

  @include mq(md) {
    text-align: left;
    width: rem(340);
    max-width: math.div(340, 500) * 100%;
  }
}

.price-table__price {
  padding: rem(19) rem(16) rem(19) rem(20);
  text-align: right;
  width: math.div(105, 345) * 100%;

  @include mq(md) {
    width: rem(160);
    max-width: math.div(160, 500) * 100%;
  }
}

.price-table__title {
  @include mq(md) {
    position: relative;
    
  }
}
/* アイコン付き */
.price-table__title-th {
  display: flex;
  align-items: center;

  @include mq(md) {
    flex-direction: column-reverse;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 96px;
    transform: translate(-50%, -50%);
  }
}
.price-table__title-th span {

}
.price-table__title-th-img {
  display: block;
  width: rem(24);
  height: rem(24);

  @include mq(md) {
    width: rem(64);
    height: rem(64)
  }
}
.price-table__title-th-img img {

}
.price-table__title-th-text {
  display: block;
  width: 100%;
  margin-left: rem(8);

  @include mq(md) {
    margin-left: 0;
    margin-bottom: rem(8);
  }
}