@use 'global' as *;

.l-price {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.price {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: #DDF0F1;

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.price__title {

}
.price__title .section-title__japanese {
  margin-top: rem(7);
}

.price__inner {

}

.price__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: rem(24);

  @include mq(md) {
    flex-direction: row-reverse;
    max-width: rem(1077);
    margin-top: rem(40);
  }
}

.price__image-wrap {
  width: 100%;
  
    @include mq(md) {
      margin-left: 8.635097%;
      /* (100%-margin)÷2=50%-4.317549% */
      width: calc(50% - 4.317549%);
      max-width: rem(492);
    }
  }
  
  .price__image {
    width: 100%;
    height: 100%;
    display: block;
  }

.price__table {
  width: 100%;
  @include mq(md) {
    max-width: rem(492);
  }
}

.price__button {
  margin-top: rem(40 - 2);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.price__background-fishes {
  position: relative;
}
.price__background-fishes::after {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: rem(-44);
    left: rem(-81);
    left: calc(50% -  min(50vw, rem(620)));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/illustration5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
