@use 'global' as *;

.rule {
  line-height: 2;
}


.rule__title {
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(32);
  }
}

.rule__body {
  margin-top: rem(40);
}

.rule__block {
  margin-top: rem(24);
}

.rule__block:nth-of-type(2) p {
  margin-top: rem(24);
}

.rule__ol {
  margin-top: rem(24);
}

.rule__ul .pvivacy__ol {
  // margin-left: rem(-24);
}
.rule__block:nth-of-type(2) p {
  margin-top: rem(24);
}


.rule__ol > li {
  margin-left: 1.5em;
  // padding-left: 0.5em;
  list-style: decimal;



  // text-indent: -1em;
  //   padding-left: 1em;
}
.rule__ol > li::marker {
  // font-weight: bold;
  // color: #e32222;
}

.rule__ul > li {
  // list-style: disc;
  margin-top: rem(24);
}
.rule__ul > li::marker {
  content: '・';
}

