@use 'global' as *;

.section-title {
  text-align: center;
}

.section-title__english {
  font-family: $english-font-family;
  font-weight: $regular;
  font-size: rem(32);
  /* 40/32=1.25 */
  line-height: 1.25;
  
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__english--normal::first-letter {
  color: $green;
}

.section-title__japanese {
  font-size: rem(12);
  line-height: 1.5;
  /* ピクパ優先 */
  margin-top: rem(5);
  color: $green;

  @include mq(md) {
    margin-top: rem(8);
  }
}

