@use 'global' as *;
@use "sass:math";

.side {

}

.side__inner {
  width: 100%;
  max-width: rem(294);
  margin-inline: auto;
}

.side__contents:not(:first-of-type) {
  margin-top: rem(80);
}

.side__preview-button {
  margin-top: rem(40);
  text-align: center;
}


.side .introduction-card__text {
  font-size: rem(14);
}
.side .introduction-card__name {
  margin-top: 0;
}
.side .introduction-card__price-after {
  font-size: rem(32);
}
.side .introduction-card__price-before {
  font-size: rem(20);
}