@use 'global' as *;
@use "sass:math";

/* サイドメニューのタイトル */
.side-title {
  position: relative;
  font-size: rem(24);
  width: 100%;
  height: rem(50);
  line-height: math.div(50, 24);
  padding-left: rem(16 + 50 + 8);

  border-left: solid $green rem(8);

}

.side-title::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: rem(50);
  height: rem(50);
  top: 50%;
  left: rem(16);
  transform: translateY(-50%);
  background-image: url(../images/common/icon-fish-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}