@use 'global' as *;

/* SPナビ */

/* 通常 */
.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  /* left:0、right:0で要素が浮く */
  left: 0;
  right: 0;

  width: 100%;
  height: 100vh;
  background-color: $green;

  /* １でも表示はされそう！？ */
  // z-index: 1;
}

/* 「is-active」付与時 */
.sp-nav.is-active {
  display: block;
  opacity: 1;
}

/* ヘッダー部分（ロゴが載るところ）を一番上にしたいので要素を追加 */
.sp-nav__header {
  width: 100%;
  height: rem(80);
  background-color: $green;
}

.sp-nav__inner {

  display: flex;
  /* 上から80+24 */
  // padding: rem(94) rem(37) rem(114);

  /* 動画FBで高さ不足時対策用に修正中（topは */
  padding-top: rem(14);
  padding-left: rem(37);
  padding-right: rem(37);
  /* （仮）高さ不足時のため */
  padding-bottom: rem(34);

  justify-content: center;
  /* ヒトデ部分が無視されるるので「7+18+ヒトデ左余白4」=29 */
  gap: rem(29);


  /* （動画FBで追加）ドロワーメニューの高さ不足の場合にスクロールさせる */
  /* https: //web-note.org/programming/css/drawer-bg-scroll/ */
  height: 100vh;
  // height: calc(100% - rem(94));
  overflow: scroll;

}

.sp-nav__items {
  // min-height: 100vh;
  // min-height: calc( 100vh - rem(188) );
  min-height: rem(650);

  // width: 50%;
}

.sp-nav__items--left {
  width: rem(144);
  // margin-right: rem(7);
}
.sp-nav__items--right {
  width: rem(128);
}

.sp-nav__item {
  width: 100%;
  position: relative;

}

.sp-nav__item:not(:last-of-type) {
  /* 間隔を40欲しいが、padding12取ったので差し引く */
    margin-bottom: rem(16);
}

/* ピクパ */
.sp-nav__items--left .sp-nav__item:not(:last-of-type) {

}

.sp-nav__item a {
  color: $white;
  // text-align: center;
  /* text-align:centerでは、インライン要素なのでセンターにならない。
    ブロック要素にすることで、幅いっぱいになってセンターに。 */
  display: block;

  /* クリック領域を広げる */
  padding: rem(12) 0;

  font-size: rem(16);
  font-weight: $bold;
  /* 18/16=1.125 */
  line-height: 1.125;
}

/* ヒトデ */
.sp-nav__item-a::before {
  position: absolute;
  content: '';
  width: rem(18);
  height: rem(18);
  /* 幅18+余白4 */
  left: rem(-22);
  // top: 50%;
  top: rem(12);
  // transform: translateY(-50%);
  background-image: url(../images/common/icon-star.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.sp-nav__item-lists {

}

.sp-nav__item-list a {
  font-weight: $normal;
  /* クリック領域を広げる */
    padding: rem(12) 0;
  
    font-size: rem(16);
}

