@use 'global' as *;

.l-voice {
  /* ピクパ優先80→84 */
  margin-top: rem(80);

  @include mq(md) {
    /* ボタンの影の下4px分 */
    margin-top: rem(140);
  }
}

.voice {

  @include mq(md) {

  }
}

/* あしらい用（前） */
.voice__background-fishes {
  position: relative;
}

.voice__background-fishes::before {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    top: rem(-120);

    /* テキストフィードバック */
    /* ピクパ参考に80→50→56に */
    // left: rem(-56);
    /* キャンバス幅1440の半分720 - 左端から100 = 620 */
    left: calc(50% - min(48vw, rem(620)));

    /* 幅437、高さ201 */
    width: rem(301);
    height: rem(138);

    background-image: url(../images/common/illustration3.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
  }
}

.voice__title {

  @include mq(md) {
  }
}

.voice__inner {

}

/* カード群 */
.voice__items {
  margin-top: rem(43);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

/* あしらい用（後） */
.voice__background-fishes-last {
  position: relative;
}
.voice__background-fishes-last::after {
  @include mq(md) {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: rem(-67);
    right: rem(25);
    /* 幅71、高さ162 */
    width: rem(71);
    height: rem(162);

    background-image: url(../images/common/illustration4.png);
    background-repeat: no-repeat;
    background-position: center;
    /* coverは覆いつくす */
    background-size: cover;
    overflow: hidden;
  }
}
